<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text>班级信息</md-card-header-text>
    </md-card-header>
    <md-card-content>
      <form name="classForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>班级名称</label>
          <input type="text" name="className" ng-model="$ctrl.classInfo.className" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>选择学科</label>
          <md-select ng-model="$ctrl.currentSubject">
            <md-option ng-repeat="subject in $ctrl.subjectlist" ng-value="subject.SubjectID">
              <span ng-bind="subject.SubjectName"></span>
            </md-option>
          </md-select>
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-footer>
      <md-button class="md-raised md-primary" ng-click="$ctrl.create()">创建</md-button>
    </md-card-footer>
  </md-card>
   <md-card>
     <md-card-header>
      <md-card-header-text> 
         <div layout="row" layout-align="begin">
           <p>班级名-</p>
            <p>科目</p>
             </div>
          <md-divider ></md-divider>  </md-card-header-text>
    </md-card-header>
   <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.classes">
            <p>{{item.classes.className}}</p>
            <p>{{item.subjectName}}</p>
            <md-button class="md-raised" ui-sref="teacher.classStudent({classId:item.classes.classId})">详情</md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.deleteClass(item.classes.classId)">
             <md-icon md-svg-icon="images/ic_remove_circle_24px.svg" style="color:grey;"></md-icon></md-button>
          <md-divider ></md-divider>
        </md-list-item>
   </md-list>
     </md-card>
</md-content>