<div>
    <span>答疑</span>
    <a ui-sref="student.question" class="btn btn-default ">返回</a>

        <label>科目</label>
        <select ng-options="subject.SubjectName for subject in $ctrl.subjectList track by subject.SubjectID" ng-model="$ctrl.currSubject">
        </select>
    
        <label>教师</label>
        <select class="form-control" ng-options="teacher.teacherName for teacher in $ctrl.currSubject.teacherList track by teacher.teacherId" ng-model="$ctrl.currTeacher">
        </select>
     
      <div >
        <label>标题</label>
        <input type="text" placeholder="请输入标题" ng-model="$ctrl.title">
      </div>
      <div>
        <label>内容</label>
        <textarea  rows="3" ng-model="$ctrl.content"></textarea>
      </div>
      <button type="button" class="btn btn-danger" ng-click="$ctrl.postQuestion()">提问</button>
</div>