<md-content>
  <md-card>
    <md-card-content>
      <form name="questionForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>选择学科</label>
          <md-select ng-model="$ctrl.currSubjectId">
            <md-option ng-repeat="subject in $ctrl.subjectList" ng-value="subject.SubjectID">
              {{subject.SubjectName}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>选择教师</label>
          <md-select ng-model="$ctrl.currTeacher">
            <md-option ng-repeat="teacher in $ctrl.currSubject.teacherList" ng-value="teacher.teacherId">
              {{teacher.teacherName}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>标题</label>
          <input type="text" name="title" ng-model="$ctrl.title" required>
          <div ng-messages="questionForm.title.$error">
            <div ng-message="required">请输入标题</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>内容</label>
          <textarea  rows="3" ng-model="$ctrl.content" name="content"></textarea>
          <div ng-messages="questionForm.content.$error">
            <div ng-message="required">请输入内容</div>
          </div>
        </md-input-container>
      </form>
    </md-card-content>
     <div>
               <span class="label">图片</span>
               <span class="file clearfix">
                       <input type="file" accept="image/*"  class="js_product_imgs">
                       <img width="100" height ="150" ng-attr-src="{{img.src}}" alt=""/>
               </span>
        </div>
    <md-card-footer>
      <md-button class="md-raised md-primary" ng-click="$ctrl.postQuestion()">提问</md-button>
    </md-card-footer>
  </md-card>
</md-content>