<md-content>
  <md-card>
    <md-card-content>
      <md-card ng-repeat="item in $ctrl.paperResultList">
          <md-card-content>
            <div>
                <p>
                  <span ng-bind="$index+1"></span>&nbsp;&nbsp;
                  <span ng-bind="item.title.title"></span>
                </p>
                <div ng-if="item.title.type === 1">
                  <p>A.<span ng-bind="item.title.optionA"></span>&nbsp;&nbsp;</p>
                  <p>B.<span ng-bind="item.title.optionB"></span>&nbsp;&nbsp;</p>
                  <p>C.<span ng-bind="item.title.optionC"></span>&nbsp;&nbsp;</p>
                  <p>D.<span ng-bind="item.title.optionD"></span>&nbsp;&nbsp;</p>
                </div>
                <p>
                  答案:<span ng-bind="item.title.answer"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                  分值:<span class="badge" ng-bind="item.title.score"></span>
                  学生作答:<span ng-bind="item.paperResultDetail.answer"></span>
                </p>
            </div>
          </md-card-content>
        </md-card>
    </md-card-content>
  </md-card>
</md-content>