<md-grid-list md-cols="2" md-gutter="2em" md-row-height="4:3">
  <md-grid-tile  md-colors="{background: 'light-blue-A200'}" ui-sref="student.test">
    <span><md-icon md-svg-src="./fonts/ic_description_white_24px.svg" aria-label="student.test"></md-icon>测试</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'indigo-200'}" ui-sref="student.homework">
    <span><md-icon md-svg-src="./fonts/ic_receipt_white_24px.svg" aria-label="student.homework"></md-icon>作业</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'purple-200'}" ui-sref="student.question">
    <span><md-icon md-svg-src="./fonts/ic_help_outline_white_24px.svg" aria-label="student.question"></md-icon>答疑</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'blue-400'}" ui-sref="student.center">
     <span><md-icon md-svg-src="./fonts/ic_account_circle_white_24px.svg" aria-label="student.center"></md-icon>个人中心</span>
  </md-grid-tile>
</md-grid-list>