
<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text>课程资源</md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="recource in $ctrl.recourceList track by $index">   
         <img ng-src="images/Folder.png"  />
          <div class="md-list-item-text">
            <p>{{recource.upload_name}}老师</p>
            <h3>{{recource.fileName}}</h3>
            <p>{{recource.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
          <span>
          <md-icon style="color: greenyellow;" md-svg-src="./fonts/ic_file_download_black_24px.svg" aria-label="downloadPaper" ng-click="$ctrl.download()">下载
         </span>
        <a ng-href="{{recource.fileUrl}}" download="{{recource.fileName}}" id="download_paper" 

style="display:none;">down</a>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </md-card-content>
     <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="previous" ng-click="$ctrl.previousPage()" ng-

disabled="$ctrl.currentPage===1">
           <md-icon md-svg-icon="images/ic_first_page_24px.svg" style="color:green;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="next" ng-click="$ctrl.nextPage()" ng-

disabled="$ctrl.currentPage===$ctrl.recourceList.totalpage">
             <md-icon md-svg-icon="images/ic_last_page_24px.svg" style="color:green;"></md-icon>
          </md-button>
            <span>{{$ctrl.currentPage}}/{{$ctrl.recourceList.totalpage}}</span>
        </md-card-actions>
  </md-card>
   
</md-content>