<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text ng-bind="$ctrl.onlineQuesionsDetail.questionTitle"></md-card-header-text>
    </md-card-header>
    <md-card-content>
      <label>提问者:{{$ctrl.onlineQuesionsDetail.studentName}}:</label>
      <p ng-bind="$ctrl.onlineQuesionsDetail.questionContent"></p>
       <img width="50" height ="50" ng-show="$ctrl.onlineQuesionsDetail.img!==null&&$ctrl.onlineQuesionsDetail.img!=''" ng-click="$ctrl.goToImgUrl($ctrl.onlineQuesionsDetail.img)"  ng-attr-src="{{$ctrl.onlineQuesionsDetail.img}}" alt=""/> 
      <md-list>
        <label>回复:</label>
        <md-list-item class="md-3-line" ng-repeat="reply in $ctrl.replyList">
          <div class="md-list-item-text">
            <h3>{{$index+1}}.&nbsp;{{reply.answer}}</h3>
            <h4>{{reply.realName}}</h4>
             <img width="20" height ="20" ng-show="reply.img!==null&&reply.img!==''" ng-click="$ctrl.goToImgUrl(reply.img)"  ng-attr-src="{{reply.img}}" alt=""/> 
            <p>{{reply.answerTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
             <img src="images/trash.png" ng-show="$ctrl.userinfoId===reply.answerId" ng-click="$ctrl.deleleReply(reply.id,reply.answerId)"></img>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
      <md-button class="md-raised" ng-click="$ctrl.reply()">回复</md-button>
    </md-card-content>
      <div ng-show="$ctrl.isShow">
                <span class="label">图片</span>
                <span class="file clearfix">
                        <input type="file" accept="image/*"  class="js_product_imgs">
                        <img width="80" height ="100" ng-attr-src="{{img.src}}" alt=""/>        
                </span>
       </div>
    <md-card-footer ng-show="$ctrl.isShow">
      <textarea rows="8" cols="35" ng-model="$ctrl.answerContent"></textarea>
      <md-button class="md-raised md-primary" ng-click="$ctrl.replyQuestion()">确定</md-button>
    </md-card-footer>
  </md-card>
</md-content>