<div>
  <div class="box top-return">
    <span ng-bind="$ctrl.homework.homeWorkName"></span>
    <a ui-sref="teacher.homeWorkHistory" class="btn btn-default ">返回</a>
  </div>
  <div ng-repeat="item in $ctrl.homeworkDetail" class="box-radius">
    <p ng-bind="item.title"></p>
    <div ng-if="item.type === 1">
      <p>A.<span ng-bind="item.optionA"></span>&nbsp;&nbsp;</p>
      <p>B.<span ng-bind="item.optionB"></span>&nbsp;&nbsp;</p>
      <p>C.<span ng-bind="item.optionC"></span>&nbsp;&nbsp;</p>
      <p>D.<span ng-bind="item.optionD"></span>&nbsp;&nbsp;</p>
      <p>正确答案:<span ng-bind="item.answer"></span></p>
    </div>
    <div ng-if="item.type === 2">
      <p>正确答案:<span ng-bind="item.answer"></span></p>
    </div>
    <div ng-if="item.type === 3">
      <p>参考答案:<span ng-bind="item.answer"></span></p>
    </div>
  </div>
</div>