<div>
  <div class="box top-return">
    <span ng-bind="$ctrl.homework.homeWorkName"></span>
    <a ui-sref="teacher.paper" class="btn btn-default ">返回</a>
  </div>
  <h3>试卷列表</h3>
  <table class="table table-striped box" >
      <thead>
        <tr>
          <th>试卷名称</th>
          <th>发布</th>
          <th>查看成绩</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="paper in $ctrl.papers">
          <td>
            <a ui-sref="teacher.paperDetail({paper:paper})" ng-bind="paper.testName"></a>
          </td>
          <td>
            <button ng-if="paper.status === 0" ng-click="$ctrl.publishPaper(paper)">发布</button>
            <span ng-if="paper.status === 1">已发布</span>
          </td>
          <td>
            <a ng-if="paper.status === 1" ui-sref="teacher.paperResult({paper:paper})">查看</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-bind="$ctrl.msg"></p>
</div>