<md-content>
  <md-card  ng-repeat="paper in $ctrl.papers">
    <md-card-content>
      <a class="md-raised" layout="row" style="color: blue;"
          ui-sref="teacher.paperDetail({testpaperID:paper.testpaperID,testName:paper.testName,currentPage:$ctrl.currentPage,pageItems:$ctrl.pageItems,totalpage:$ctrl.papers.totalpage})">
          {{paper.testName}} 
      </a>
       <p>创建时间:{{paper.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      <div layout="row" layout-align="space-around center">
        <md-button class="md-raised" ng-if="paper.status === 0" 
          ng-click="$ctrl.publishPaper(paper)" >发布</md-button>
        <md-button class="md-raised" ng-if="paper.status === 1" 
          ui-sref="teacher.paperResult({testpaperID:paper.testpaperID,testName:paper.testName,currentPage:$ctrl.currentPage,pageItems:$ctrl.pageItems,totalpage:$ctrl.papers.totalpage})">
                           查看</md-button>
          <md-button class="md-raised" ng-click="$ctrl.deletePaper(paper.testpaperID)">删除</md-button>
        <md-button class="md-raised"  ng-click="$ctrl.downloadPaper(paper.testpaperID)">
          <span><md-icon md-svg-src="images/ic_file_download_black_24px.svg" aria-label="downloadPaper" style="color: grey;"></md-icon>生成试卷</span>
        </md-button>
      </div>
    </md-card-content>
  </md-card>
   <md-card-actions layout="row" layout-align="end center">
         <md-button class="md-icon-button" aria-label="previous" ng-click="$ctrl.previousPage()" ng-disabled="$ctrl.currentPage===1">
          <md-icon md-svg-icon="images/ic_first_page_24px.svg" style="color:green;"></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="next" ng-click="$ctrl.nextPage()" ng-disabled="$ctrl.currentPage===$ctrl.papers.totalpage || $ctrl.papers.totalpage===0">
            <md-icon md-svg-icon="images/ic_last_page_24px.svg" style="color:green;"></md-icon>
         </md-button>
           <span>{{$ctrl.currentPage}}/{{$ctrl.papers.totalpage}}</span>
    </md-card-actions>
  <a ng-href="{{$ctrl.paperLink}}" download="a.txt" id="download_paper" style="display:none;">下载试卷</a>

</md-content>