<div layout="row" layout-align="center center">
    <span flex="20"  ng-click="$ctrl.goBack()">返回</span>
    <span flex="25"></span>
    <span ng-if="$ctrl.userInfo.type === '0'">学生:</span>
    <span ng-if="$ctrl.userInfo.type === '1'">教师:</span>
    <span ng-bind="$ctrl.userInfo.teacher_number" ng-if="$ctrl.userInfo.type === '1'"></span>
    <span ng-bind="$ctrl.userInfo.school_number" ng-if="$ctrl.userInfo.type === '0'"></span>
    <md-button class="md-raised" ng-click="$ctrl.logout()">退出登录</md-button>
</div>