<div>
  <div class="box top-return">
    <span ng-bind="$ctrl.homework.homeWorkName"></span>
    <a ui-sref="teacher.center" class="btn btn-default ">返回</a>
  </div>
  <form class="box">
    <h3>创建班级</h3>
    <div class="form-group">
      <label >班级名称</label><span ng-bind="errorMsg.userName"></span>
      <div >
        <input type="text" class="form-control" placeholder="班级名称" ng-model="$ctrl.classInfo.className">
      </div>
    </div>
    <div class="form-group">
      <label>选择学科</label><span ng-bind="errorMsg.userName"></span>
      <select class="form-control" ng-model="$ctrl.currentSubject"
        ng-options="subject as subject.SubjectName for subject in $ctrl.subjectlist">
      </select>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="$ctrl.create()">创建</button>
        <p ng-bind="$ctrl.msg"></p>
      </div>
    </div>
  </form>
<div>