<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text>提问信息</md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-input-container class="md-block" flex-gt-sm>
          <label>选择班级</label>
          <md-select ng-model="$ctrl.currentClass" ng-change="$ctrl.getClassQuestion()">
            <md-option ng-repeat="item in $ctrl.classes track by $index" ng-value="item.classes.classId">
              <span ng-bind="item.classes.className"></span>
            </md-option>
          </md-select>
        </md-input-container>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="onlineQuesions in $ctrl.questionsList track by $index"
                ui-sref="teacher.onlineAnswerDetail({'onlineQuestionsDetail':onlineQuesions,'currentClass':$ctrl.currentClass,'isHistroy':false})">
            <div class="md-list-item-text">
                <h3>{{onlineQuesions.questionTitle}}</h3>
                <h4>{{onlineQuesions.studentName}}</h4>
                <p>{{onlineQuesions.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
            <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
  </md-card>
</md-content>
