<div>
	学生疑问
           <table class="table table-striped">
                <caption>QuestionList</caption>
                <thead>
                    <tr>
                    <th>#</th>
                    <th>学生</th>
                    <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="onlineQuesions in $ctrl.onlineQuesions ">
                        <td ng-bind="onlineQuesions.studentId"></td>
                      <!--   <td ng-bind="onlineQuesions.createTime|date:'yyyy-MM-dd HH:mm:ss'"></td> -->
                        <td> 
                        	<a class="btn btn-default" ui-sref="teacher.onlineAnswerDetail({'onlineQuestionsDetail':onlineQuesions})">查看详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
   <p ng-bind="$ctrl.msg"></p>
</div>
