<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        登录
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <form name="projectForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>用户名</label>
          <input type="text" name="user_number" ng-model="$ctrl.userInfo.user_number" required>
          <div ng-messages="projectForm.user_number.$error">
            <div ng-message="required">请输入用户名</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>密码</label>
          <input type="password" name="password" ng-model="$ctrl.userInfo.password" required>
          <div ng-messages="projectForm.password.$error">
            <div ng-message="required">请输入密码</div>
          </div>
        </md-input-container>
        <md-radio-group ng-model="$ctrl.userInfo.type">
          <md-radio-button value="1">老师</md-radio-button>
          <md-radio-button value="0">学生</md-radio-button>
          <md-radio-button value="2">管理员</md-radio-button>
        </md-radio-group>
        <md-checkbox ng-model="$ctrl.remember">记住密码</md-checkbox>
      </form>
    </md-card-content>
    <md-card-footer>
      <md-button class="md-raised md-primary" ng-click="$ctrl.login()">登录</md-button>
      <md-button class="md-raised" ui-sref="teacher.register">教师注册</md-button>
      <md-button class="md-raised" ui-sref="student.register">学生注册</md-button>
    </md-card-footer>
  </md-card>
</md-content>

