<md-content>
  <md-card ui-sref="teacher.homeworkCreate" md-colors="{background: 'green'}">
    <md-card-header>
      <md-card-header-text>创建作业</md-card-header-text>
    </md-card-header>
    <md-card-content>
      编辑题目，生成待发布的作业
    </md-card-content>
  </md-card>
  <md-card ui-sref="teacher.homeWorkHistory" md-colors="{background: 'blue'}">
    <md-card-header>
      <md-card-header-text>查看我的作业</md-card-header-text>
    </md-card-header>
    <md-card-content>
      查看当前已经创建好的作业，发布作业
    </md-card-content>
  </md-card>
</md-content>
