<form class="box">
  <div class="form-group">
    <label >用户名</label>
    <div >
      <input type="text" class="form-control" ng-model="$ctrl.userinfo.school_number">
    </div>
  </div>
 <div class="form-group">
    <label >真实名</label>
    <div >
      <input type="text" class="form-control" ng-model="$ctrl.userinfo.realName">
    </div>
  </div>
  <div class="form-group">
    <label >密码</label>
    <div >
      <input type="text" class="form-control" ng-model="$ctrl.userinfo.password">
    </div>
  </div>
   <div class="form-group">
      <label>我的班级</label>
      <div class="list-group">
        <a ng-repeat="item in $ctrl.classes track by $index" 
          class="list-group-item">
          <span ng-bind="item.className"></span>
          <span ng-bind="item.SubjectName"></span>
        </a>
      </div> 
    </div>
  <div class="form-group">
    <label >学校</label>
    <div >
      <input type="text" class="form-control" ng-model="$ctrl.userinfo.school">
    </div>
  </div>
   <div class="form-group">
    <label >电话号码</label>
    <div >
      <input type="text" class="form-control" ng-model="$ctrl.userinfo.telephone">
    </div>
  </div>
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" ng-click="$ctrl.updateinfo()">确认修改</button>
    </div>
  </div>
   <p ng-bind="$ctrl.msg"></p>
</form>
