<md-content>
  <md-card>
    <md-card-content layout="row">
        <span flex="80">历史提问列表</span>
        <md-button class="md-raised" flex="20" ui-sref="student.question">返回</md-button>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-header-text>提问信息</md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item>
          <div>
            <a>序号</a>
            <a>姓名</a>
            <a>标题</a>
            <a>时间</a>
          </div>
        </md-list-item>
        <md-list-item ng-repeat="question in $ctrl.questionsList track by $index">
          <div class="md-list-item-text">
            <a>{{$index+1}}</a>
            <a>{{question.studentName}}</a>
            <a>{{question.questionTitle}}</a>
            <a>{{question.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</a>
            <a class="btn btn-default" ui-sref="student.studentOnlineAnswerDetail({'onlineQuestionsDetail':question,'currentClass':$ctrl.currentClass,'isHistroy':true})">查看详情</a>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>