@charset "utf-8";
@import url("iconfonts.css");
@import url("framework.css");
#popLayer{
    position: absolute;
    left:0;
    top:0;
    z-index:10;
    background:#DCDBDC;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
/*订单详情页面*/
.table tbody tr.orderTotalCount td {
    font-weight: bold;
    border: none;
}
.table tbody tr.orderTotalCount td:first-child {
    text-align: right;
    padding-right: 0;
}
/*订单进度*/
.order-track {
    position: relative;
    padding: 8px 0;
    height: 128px;
}
.order-track .order-info {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
.order-track .order-info span {
    margin: 0 48px 0 8px;
}
.order-track .progress-bar {
    position: absolute;
    top: 48px;
    height: 8px;
    width: 75%;
    left: 12.5%;
    background: #ccc;
}
.order-track .progress-bar .progress-bar-inner {
    height: 8px;
    width: 0;
    background: #1ab394;
}
.step-list {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 88px;
}
.step-list > li {
    float: left;
    width: 25%;
    text-align: center;
    color: #333;
}
.step-list > li .step-sequence {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background: #ccc;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.step-list > li .step-sequence.bg-change {
    background: #1ab394;
}
.step-list > li p {
    padding-top: 8px;
}
.step-list > li .step-name {
    font-size: 14px;
    font-weight: bold;
}
.step-list > li .step-time {
    font-size: 14px;
}