<div class="paper-result-page">
  <div class="box top-return">
    <span ng-bind="$ctrl.paper.testName"></span>
    <a ui-sref="teacher.publishPaper" class="btn btn-default ">返回</a>
  </div>
  <div class="box">
    <table class="table table-striped">
      <caption>试卷成绩列表</caption>
      <thead>
        <tr>
          <th>学生</th>
          <th>得分</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.paperResultList">
          <td ng-bind="item.studentName">
            
          </td>
          <td>
            <span ng-bind="item.paper.score"></span>分 
          </td>
          <td>
            <a ui-sref="teacher.paperResultDetail({paperResult:item.paper})">查看</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>