<div>
  <div class="box top-return">
    <span>返回登录页面</span>
    <a ui-sref="login" class="btn btn-default">返回</a>
  </div>
  <form class="box">
    <div class="form-group">
      <label >用户名</label><span ng-bind="errorMsg.teacher_number"></span>
      <div >
        <input type="text" class="form-control" placeholder="用户名" ng-model="$ctrl.userInfo.teacher_number">
      </div>
    </div>
    <div class="form-group">
      <label >真实姓名</label><span ng-bind="errorMsg.realName"></span>
      <div >
        <input type="text" class="form-control" placeholder="真实姓名" ng-model="$ctrl.userInfo.realName">
      </div>
    </div>
    <div class="form-group">
      <label >密码</label><span ng-bind="errorMsg.password"></span>
      <div >
        <input type="password" class="form-control" placeholder="密码" ng-model="$ctrl.userInfo.password">
      </div>
    </div>
    <div class="form-group">
      <label >确认密码</label><span ng-bind="errorMsg.rePassword"></span>
      <div >
        <input type="password" class="form-control" placeholder="确认密码" ng-model="$ctrl.userInfo.rePassword">
      </div>
    </div>
     
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="$ctrl.register()">注册</button>
      </div>
    </div>
  </form>
</div>
