<md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text>提问信息</md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="onlineQuesions in $ctrl.questionsList track by $index"
          ui-sref="teacher.onlineAnswerDetail({'onlineQuestionsDetail':onlineQuesions,'currentClass':$ctrl.currentClass,'isHistroy':true})">
           <img ng-src="images/og.png" class="md-avatar" />
          <div class="md-list-item-text"> 
            <p>{{onlineQuesions.studentName}}</p>
            <h3>{{onlineQuesions.questionTitle}}</h3>
            <p>{{onlineQuesions.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </md-card-content>
       <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="previous" ng-click="$ctrl.previousPage()" ng-disabled="$ctrl.currentPage===1">
           <md-icon md-svg-icon="images/ic_first_page_24px.svg" style="color:green;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="next" ng-click="$ctrl.nextPage()" ng-disabled="$ctrl.currentPage===$ctrl.questionsList.totalpage">
             <md-icon md-svg-icon="images/ic_last_page_24px.svg" style="color:green;"></md-icon>
          </md-button>
            <span>{{$ctrl.currentPage}}/{{$ctrl.questionsList.totalpage}}</span>
        </md-card-actions>
  </md-card>
</md-content>
