<md-content>
  <md-card>
    <md-card-content layout="row">
        <span flex="80">{{$ctrl.homework.homeWorkName}}的作答列表</span>
        <md-button class="md-raised" flex="20" ui-sref="teacher.homeWorkHistory">返回</md-button>
    </md-card-content>
  </md-card>
  <md-card ng-repeat="result in $ctrl.homeworkResultList">
    <md-card-content>
      <p>学生:{{result.studentName}}</p>
      <p>作答时间:{{result.homework.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
      <p>结果:{{result.homework.evaluation}}</p>
      <md-button class="md-raised" ui-sref="teacher.teacherHomeworkResultDetail({homeworkId:$ctrl.homework.homeworkID,homeWorkName:$ctrl.homework.homeWorkName,homeworkResultID:result.homework.id})">作答详情</md-button>
    </md-card-content>
  </md-card>
</md-content>