<md-grid-list md-cols="2" md-gutter="2em" md-row-height="4:3">
  <md-grid-tile  md-colors="{background: 'blue'}" ui-sref="teacher.paper">
    <span><md-icon md-svg-src="./fonts/ic_description_white_24px.svg" aria-label="teacher.paper"></md-icon>出试卷</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'purple'}" ui-sref="teacher.homework">
    <span><md-icon md-svg-src="./fonts/ic_receipt_white_24px.svg" aria-label="teacher.homework"></md-icon>布置作业</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'teal'}" ui-sref="teacher.onlineanswerNavigation">
    <span><md-icon md-svg-src="./fonts/ic_help_outline_white_24px.svg" aria-label="onlineanswerNavigation"></md-icon>答疑</span>
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'amber'}" ui-sref="teacher.center">
    <span><md-icon md-svg-src="./fonts/ic_account_circle_white_24px.svg" aria-label="teacher.center"></md-icon>个人中心</span>
  </md-grid-tile>
</md-grid-list>