<md-grid-list md-cols="2" md-gutter="2em" md-row-height="4:3">
  <md-grid-tile  ui-sref="teacher.paper">
      <img src="images/test1.png" width="70" height="70"></img><br>
        <md-grid-tile-footer><h3>测试</h3></md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile   ui-sref="teacher.homework">
    <img src="images/icon_note.png" width="70" height="70"></img><br>
      <md-grid-tile-footer><h3>布置作业 </h3></md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile   ui-sref="teacher.onlineanswerNavigation">
     <img src="images/girl.png" width="70" height="70"></img><br>
  <md-grid-tile-footer><h3>答疑   </h3></md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile   ui-sref="teacher.center">
    <img src="images/class_detail_member.png" width="70" height="70"></img><br>
   <md-grid-tile-footer><h3>个人中心  </h3></md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>