<md-grid-list md-cols="2" md-gutter="2em" md-row-height="4:3">
  <md-grid-tile  md-colors="{background: 'blue'}" ui-sref="teacher.paper">
    出试卷
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'purple'}" ui-sref="teacher.homework">
    布置作业
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'blue'}" ui-sref="teacher.onlineanswerNavigation">
    答疑
  </md-grid-tile>
  <md-grid-tile  md-colors="{background: 'purple'}" ui-sref="teacher.center">
    个人中心
  </md-grid-tile>
</md-grid-list>