<md-content>
  <md-card>
    <md-card-content layout="row">
        <span flex="80">查看试卷:{{$ctrl.paper.testName}}</span>
        <md-button class="md-raised" flex="20" ui-sref="teacher.publishPaper">返回</md-button>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-header-text>试卷题目:</md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-card ng-repeat="question in $ctrl.paperDetail">
          <md-card-content>
            <div>
                <p>
                  <span ng-bind="$index+1"></span>&nbsp;&nbsp;
                  <span ng-bind="question.title"></span>
                </p>
                <div ng-if="question.type === 1">
                  <p>A.<span ng-bind="question.optionA"></span>&nbsp;&nbsp;</p>
                  <p>B.<span ng-bind="question.optionB"></span>&nbsp;&nbsp;</p>
                  <p>C.<span ng-bind="question.optionC"></span>&nbsp;&nbsp;</p>
                  <p>D.<span ng-bind="question.optionD"></span>&nbsp;&nbsp;</p>
                </div>
                <p>
                  答案:<span ng-bind="question.answer"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                  分值:<span class="badge" ng-bind="question.score"></span>
                </p>
            </div>
          </md-card-content>
        </md-card>
    </md-card-content>
  </md-card>
</md-content>