<div>
  <div class="box top-return">
    <span ng-bind="$ctrl.homework.homeWorkName"></span>
    <a ui-sref="teacher.center" class="btn btn-default ">返回</a>
  </div>
  <form class="box">
    <h3>分班</h3>
    <div class="form-group">
      <label >选择专业</label>
      <select class="form-control" 
          ng-model="$ctrl.currentSpecialities"
          ng-options="item as item.specialitiesName for item in $ctrl.specialitiesList">
      </select>
    </div>
    <div class="form-group">
      <label >选择班级</label>
      <select class="form-control" 
          ng-model="$ctrl.currentClass"
          ng-options="item as item.className for item in $ctrl.classes">
      </select>
    </div>
    <div class="form-group">
      <p>选择学生</p>
      <span ng-repeat="student in $ctrl.students">
        <label ng-bind="student.realName"></label>
        <input type="checkbox" ng-model="student.isCheck">
      </span>
    </div>
    <div class="form-group">
      <div>
        <button type="button" class="btn btn-default" ng-click="$ctrl.toAssign()">分配学生</button>
        <p ng-bind="$ctrl.msg"></p>
      </div>
    </div>
  </form>
</div>
