<div class="homework-history-page">
  <div class="box top-return">
    <span>作业列表</span>
    <a ui-sref="teacher.homework" class="btn btn-default">返回</a>
  </div>
  <div ng-repeat="item in $ctrl.homeworks" class="box-radius">
      名称:<a ng-bind="item.homeWorkName" ui-sref="teacher.homeworkDetail({homeworkId:item.homeId,homeWorkName:item.homeWorkName})"></a><br>
      计划完成时间:<span ng-bind="item.finishTime | date:'yyyy-MM-dd HH:mm:ss'"></span><br>
      状态:
      <span ng-show="item.status === 0">
        <a ui-sref="teacher.publishHomework({homeworkId:item.homeId,subjectId:item.subjectId})">发布</a>
      </span>
      <span ng-show="item.status === 1">已发布</span>
      <a ng-show="item.status === 1" class="btn btn-info result-list-btn" ui-sref="teacher.teacherHomeworkResultList({homeworkId:item.homeId,homeWorkName:item.homeWorkName})">查看结果</a>
  </div>
</div>