<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="未作答({{$ctrl.homeworkListUnFinish.length}})">
      <md-content class="md-padding">
        <md-card ng-repeat="item in $ctrl.homeworkListUnFinish">
          <md-card-content>
            <p>试卷名称:<span ng-bind="item.homeWorkName"></span></p>
            <p>完成时间:<span ng-bind="item.finishTime | date:'yyyy-MM-dd HH:mm:ss'"></span></p>
            <p>
              <md-button class="md-raised md-primary" 
                ui-sref="student.studentHomeworkDetail({homeWorkName:item.homeWorkName,homeworkId:item.homeId})">完成作业</md-button>
            </p>
          </md-card-content>
        </md-card>
      </md-content>
    </md-tab>
    <md-tab label="已作答({{$ctrl.homeworkListFinish.length}})">
      <md-content class="md-padding">
        <md-card ng-repeat="item in $ctrl.homeworkListFinish">
          <md-card-content>
            <p>试卷名称:<span ng-bind="item.homeWorkName"></span></p>
            <p>完成时间:<span ng-bind="item.finishTime | date:'yyyy-MM-dd HH:mm:ss'"></span></p>
            <p>
              <md-button class="md-raised md-primary" 
                ui-sref="student.studentHomeworkResultDetail({homeworkId:item.homeId})">查看结果</md-button>
            </p>
          </md-card-content>
        </md-card>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>